# Environments
.env
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest
.pytest_cache/

# OS Files
.DS_Store
Thumbs.db

# Claude/Agent Memory
.claude/
CLAUDE.md

# Assets & Builds
ffmpeg.exe
assets/webm/
build/
dist/
*.spec

